<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/dist/app.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/quiz.css">
        <script type="text/javascript" src="/module/codemirror.js"></script>
        <script type="text/javascript" src="/module/javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="/module/codemirror.css">
        <link rel="stylesheet" type="text/css" href="/module/darcula.css">
    </head>
    <body onload="initCompiler();">
        <div>
            <div>
                <div class="quiz">
                    <select id="selectBox"></select>
                    <span id="quiz"></span>
                </div>
                <div class="quiz">
                    <select id="language">
                        <option value="JAVASCRIPT">javascript</option>
                        <option value="PYTHON">python</option>
                    </select>
                    <textarea id="content" name="content"></textarea><br />
                </div>
            </div>
            <div class="bottom">
                <div id="testCaseArea" style="display: block;">
                    <table style="border: solid 1px black;">
                        <caption style="background: #2B2B2B; color: white;">테스트 케이스</caption>
                        <tr>
                            <td style="background: #2B2B2B; color: white;">
                                입력값
                            </td>
                            <td style="background: #2B2B2B; color: white;">
                                기대값
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="input" style="background: #2B2B2B; color: white;"></input>
                            </td>
                            <td>
                                <input id="expected" style="background: #2B2B2B; color: white;"></input>
                            </td>
                        </tr>
                    </table>
                    <button id="addTestCase">테스트케이스 추가하기.</button>
                    <table id="testCaseList" style="border: solid 1px black; width:274px;"></table>
                    </table>
                </div>
            </div>
            <div class="result" style="width:40%;">
                <textarea id="result" style="background: #2B2B2B; color: white;"></textarea>
                <button id="run" type="compile">실행 하기.</button>
            </div>
        </div>
    </body>
    <script>
        function initCompiler() {
            window.compiler = new Compiler();
            compiler.init();
        }

        document.getElementById('addTestCase').addEventListener('click', function() {
            let input = document.getElementById('input').value;
            let expected = document.getElementById('expected').value;
            let list = document.getElementById('testCaseList').firstElementChild || document.getElementById('testCaseList');
            if (!!input && !!expected) {
                compiler.setTestCase(input, expected);
                let idx = Object.keys(compiler.getTestCase()).length;
                list.innerHTML += `<tr id=${idx}><td>${input}</td><td>${expected}</td></tr>`;
            }
        });

        function sendAjax(url, data, callback){
            // 입력값을 변수에 담고 문자열 형태로 변환
            var data = {
                'quizNumber': data.quizNumber,
                'code' : data.code, 
                'lang': document.getElementById('language').selectedOptions[0].value.toLowerCase(),
                'testCases': data.testCase
            };
            data = JSON.stringify(data);

            // content-type을 설정하고 데이터 송신
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(data);
            
            // 데이터 수신이 완료되면 표시
            xhr.addEventListener('load', function(){
                const result = document.getElementById('result');
                callback(xhr.responseText);
            });
        }
    </script>
</html>
