<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/dist/app.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/quiz.css">
        <script type="text/javascript" src="/module/codemirror.js"></script>
        <link rel="stylesheet" type="text/css" href="/module/codemirror.css">
    </head>
    <body onload="initCompiler();">
        <div>
            <div class="quiz">
                <select id="selectBox"></select>
                <span id="quiz"></span>
            </div>
            <div class="quiz">
                <select id="selectBox">
                    <option value="javascript">javascript</option>
                </select>
                <textarea id="content" name="content"></textarea><br />
            </div>
        </div>
        <div class="bottom">
            <button id="addTestCase">TestCase 추가.</button>
        </div>
        <div class="bottom">
            <button id="compile" type="compile">Click</button>
        </div>
        <div class="result">
            <textarea id="result"></textarea>
        </div>

    </body>
    <script>
        function initCompiler() {
            var compiler = new Compiler();
            compiler.init();
        } 

        const content = document.getElementById('content');
        var myCodeMirror = CodeMirror.fromTextArea(content, {
            mode: 'javascript',
            smartIndent: true,
            indentWithTabs: true,
            lineNumbers: true,
            tabSize: 4,
            theme: 'monokai.css'
        });
        myCodeMirror.setValue('function solution() { \r\treturn; \r}');
        
        document.getElementById('compile').addEventListener('click', function() {
            const code = myCodeMirror.getValue();
            const url = 'http://localhost:3000/compile';
            sendAjax(url, code, setResult)
        });
        function sendAjax(url, data, callback){
            // 입력값을 변수에 담고 문자열 형태로 변환
            var data = {'code' : data};
            data = JSON.stringify(data);

            // content-type을 설정하고 데이터 송신
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(data);
            
            // 데이터 수신이 완료되면 표시
            xhr.addEventListener('load', function(){
                const result = document.getElementById('result');
                callback(xhr.responseText);
            });
        }

        function setResult(value) {
            const result = document.getElementById('result');
            result.value = value;
            const expected = document.getElementById('quiz').getAttribute('result');
            if (parseInt(value) == expected) {
                alert('정답입니다.');
            }
        }
    </script>
</html>
