.quiz {
    width: 40%;
    height: 40%;
    border: dotted 1px black;
    float: left;
}

#selectBox{
    width: 100%;
    height: 20px;
    float: left;
}

.CodeMirror {
    width: 40%;
    height: 40%;
    border: dotted 1px black;
    float: left;
}

.bottom {
    width: 100%;
    float: left;
}

.result {
    width: 100%;
    float: left;
}