.quiz {
    width: 40%;
    height: 40%;
    border: dotted 1px black;
    background: #2B2B2B;
    color: white;
    float: left;
}
select {
    width: 100%;
    height: 20px;
    float: left;
    background: #2B2B2B;
    color: white;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    border: dotted 1px black;
    float: left;
}

.bottom {
    background: #2B2B2B;
    color: white;
    width: 40%;
    height: 20%;
    float: left;
}

.result {
    background: #2B2B2B;
    color: white;
    width: 40%;
    height: 20%;
    float: left;
    border: dotted 1px black;
}